.red{
  position: relative;
  padding-left: 15px;
}
.red:before{
  content:'';
  position: absolute;
left: 0px;
top: 50%;
  background: red;
  height: 10px;
  width: 10px;
  transform: translateY(-50%);
}
/*a:before{
  content: '';
  position: absolute;
  left: 0;
  background: url(envelope.svg) center center no-repeat;
  background-size: contain;
  height: 16px;
  width: 33px;
}*/
